@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

body {
    min-width: 50vh;
    background: #403F4C;
}

html,
body {
    height: 100%;
    color: #fff;
    overflow-x: hidden;
}

#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px 0;
}

#nasa-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nasa-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nasa-img {
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    width: auto;
    height: 500px;
}

#date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#nasa-description {
    text-align: right;
    padding: 50px 40px 0 40px;
    font-size: 15px;
}

.abc {
    /* background-color: rgb(48, 44, 44); */
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.abcd {
    background-color: rgb(53, 47, 58);
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.abcde {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: black;
}

.bc {
    max-width: 100%;
    max-height: 100%;
}

canvas {
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    #nasa-description {
        text-align: center;
        padding: 50px 40px 0 40px;
        font-size: 10px;
    }
}